body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

.shapka {
    background-color: yellow;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
}

input {
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    font-size: 20px;
}

.cart {
    text-decoration: none;
    color: black;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.login {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}

.banner {
    background-image: url('https://avatars.mds.yandex.net/i?id=312e0a6cf73fbda7058514e02496b1e7_l-5878137-images-thumbs&n=13');
    height: 500px;
    background-size: cover;
    background-position: center;
}

h1 {
    margin: 0px;
    text-align: center;
    font-size: 100px;
    color: white;
    text-shadow: 10px 10px 10px black;
}

.products {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 20px;
}

.card {
    background-color: yellow;
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
}

.card img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.card a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    display: block;
    border-radius: 10px;
}

.podval {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
}

.podval a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}
